<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertBrg</servlet-name>
        <servlet-class>servlet.barang.Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrg</servlet-name>
        <servlet-class>servlet.barang.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Barang</servlet-name>
        <servlet-class>servlet.barang.Barang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertBrg</servlet-name>
        <url-pattern>/InsertBrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrg</servlet-name>
        <url-pattern>/UpdateBrg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Barang</servlet-name>
        <url-pattern>/Barang</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
